.container {
  display: grid;
  align-items: end;
  border: 1px solid green;
  height: 200px;
  width: 200px;
  padding: 10px;
}

.content {
  background-color: lightgreen;
  padding: 10px;
  text-align: center;
}